
<h1>Liste des restaurants</h1>

<%= link_to "Ajouter un restaurant", new_restaurant_path %>

<ul>
  <% @restaurants.each do |restaurant| %>
    <li><h3><%= restaurant.name %></h3></li>
    <br>
    <p><%= restaurant.category %></p>
    <%= link_to "Plus d'informations", restaurant_path(restaurant.id) %>
    <br>
    <%= link_to "Laisser un avis", new_restaurant_review_path(restaurant.id) %>
  <% end %>
</ul>
